/* Fonts
================================================== */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,500,900);

/* CSS Reset
================================================== */

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img {
	margin: 0;
	padding: 0;
  font-size:100%;
  border:0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none !important;
}

textarea, input { outline: none !important; }

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* General Styling and Structure
================================================== */

body {
  color: #525252;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
	background-color: #f8f8f8;
}

.top-image {
	padding-top: 10px;
	background: url("/assets/img/top-bar.jpg") repeat-x;
}

.container-fluid {
		padding-left: 30px;
		padding-right: 30px;
}

.maxWidth {
  max-width: 1170px !important;
}

/* Header Structure
================================================== */

.header {
	padding-top: 39px;
	margin-bottom: 23px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.03);
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.08);
}

.header .container {
  padding-left: 40px;
  padding-right: 40px;
}

/* Logo / Headline / Tagline Structure
================================================== */

.headline {
  padding-left: 24px;
}

.headline h2 {
  color: #715F4C;
  font-size: 28px;
  font-weight: 700;
  padding-top: 11px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.headline p {
  font-size: 17px;
  color: #736658;
  letter-spacing: 0.3px;
}

.logo {
  text-align: center;
}

.logo .ss-icon {
  font-size: 64px;
  color: #f9af51;
}

/* Main Search Structure
================================================== */

.main-search {
  padding-top: 26px;
  text-indent: 25px;
  margin-top: 11px;
  border-radius: 30px;
  padding-bottom: 27px;
  border: 1px solid #E3E4E6;
  transition: all 0.4s ease !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.015) !important;
}

.main-search:focus {
  border-color: #f9af51;
}

.search { position: relative; }
.search .ss-icon {
  position: absolute;
  float: right;
  top: 18px;
  left: 91%;
  padding-right: 15px;
  right: 15px;
  font-size: 17px;
  color: #f9af51;
}

.main-search::-webkit-input-placeholder {
    color: #8e9194 !important;
    font-size: 16px !important;
    font-weight: 500px;
    letter-spacing: 0.1px;
}

.main-search:-moz-placeholder {
   color: #8e9194 !important;
   font-size: 16px !important;
   font-weight: 500px;
   letter-spacing: 0.1px;
   opacity:  1;
}

.main-search::-moz-placeholder {
   color: #8e9194 !important;
   font-size: 16px !important;
   font-weight: 500px;
   letter-spacing: 0.1px;
   opacity:  1;
}

.main-search:-ms-input-placeholder {
   color: #8e9194 !important;
   font-size: 16px !important;
   font-weight: 500px;
   letter-spacing: 0.1px;
}

input[name=main-search] {
  color: #f9af51 !important;
  font-size: 17px !important;
  font-weight: 500px;
  letter-spacing: 0.3px;
}

/* Settings Structure
================================================== */

.product-selection {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 18px;
}

.product-selection a {
  color: #b1b7bd;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid #E3E4E6;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 2.7;
  border-radius: 32px;
  transition: all 0.2s ease !important;
  background-color: #fff;
}

.product-selection a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #f9af51;
  border-color: #f9af51;
}

.product-selection #active {
  color: #fff;
  background-color: #f9af51;
  border-color: #f9af51;
}

.options {
  color: #b1b7bd;
  font-size: 23px;
  position: relative;
  left: 6px;
  top: 2px;
}

.tilt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.tilt:hover {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
   transform: rotate(40deg);
  -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
   box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
}

.fa-gear:hover {
  cursor: pointer;
  opacity: 0.9;
}

.product-options {
  display: none;
  margin-top: 17px;
}

.price-range {
  margin-top: 16px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: #D6D6D6 !important;
    font-weight: normal !important;
    color: #555555 !important;
    border-radius: 13px !important;
    outline: none !important;
}

.ui-widget-header {
    background: #f9af51 !important;
    color: #222222 !important;
    font-weight: bold !important;
}

.ui-widget-content {
    border: none !important;
    background: #EFEFEF !important;
    color: #222222 !important;
}

.ui-slider-horizontal {
    height: .6em !important;
}

.checkbox-option {
  margin-bottom: 6px;
}

.checkbox-text {
  color: #949494;
  font-size: 17px;
  position: relative;
  top: 1px;
  letter-spacing: 0.4px;
}

input[type=checkbox] {
  position: relative;
  top: 6px;
	width: 23px;
	height: 23px;
  border-radius: 13px;
	-webkit-appearance: none;
 	-moz-appearance:    none;
 	appearance:         none;
	margin-right: 10px;
	background-color: #ffffff;
	outline: 0;
	border: 0;
  color: #b1b7bd;
  border: 1px solid #d1d1d1;
	display: inline-block;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

input[type="checkbox"]:not(:checked) {
  position: relative;
  top: 6px;
	width: 23px;
	height: 23px;
  border-radius: 13px;
	-webkit-appearance: none;
 	-moz-appearance:    none;
 	appearance:         none;
	margin-right: 10px;
	background-color: #ffffff !important;
	outline: 0;
	border: 0;
  color: #b1b7bd;
  border: 1px solid #d1d1d1;
	display: inline-block;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

input[type=checkbox]:focus {
    background-color: #d9d9d9;
    text-align: center;
    line-height: 15px;
		outline: none;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
}

input[type=checkbox]:checked {
    background-color: #d9d9d9;
    text-align: center;
    line-height: 15px;
}

.option-type-select p {
  padding-top: 3px;
  margin-bottom: -11px;
  color: #8c7f72;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.3px;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

select {
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    color: #8C8D8E;
    background-color: #fff;
    border: 1px solid #E3E4E6;
    height: 39px;
    line-height: 3px;
}

/* Product Structure
================================================== */

.products {
  margin-top: 22px;
  display: block;
  margin: 0 auto;
}

.product {
	box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
	height: 100%;
	padding-bottom: 10px;
	background-color: #fff;
	margin-bottom: 15px;
	transition: all 0.4s ease !important;
}

.product:hover {
  opacity: 0.6;
  cursor: pointer;
}

.products .col-sm-3 {
  padding-right: 7px;
  padding-left: 7px;
}

.product img {
  padding-top: 2px;
  display: block;
  margin: 0 auto;
}

.rating {
  text-align: center;
}

.rating span {
  color: #FFBE00;
}

.rating h3 {
  color: #737373;
  padding-top: 17px;
  padding-bottom: 6px;
  font-size: 17px;
  letter-spacing: 0.4px;
}

.rating p {
  color: #736658;
  padding-top: 4px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.product-type {
  display: none;
}

.bottom-right {
		position: absolute;
		bottom: 34px;
		right: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sale-tag {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f9af51;
	color: #fff;
	font-size: 18px;
	padding-top: 9px;
	padding-left: 22px;
	padding-right: 23px;
	padding-bottom: 9px;
	box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15) !important;
}

.click-to-buy {
	font-size: 700;
	margin-top: 10px;
	color: #999999;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 16px;
	margin-top: 3px;
	overflow: hidden;
	text-transform: uppercase;
	-webkit-transform: translate3d(0, 4px, 0);
	transform: translate3d(0, 4px, 0);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0;
	transition-delay: 0;
}

.click-to-buy span {
	position: relative;
	top: 2px;
}

.price-tag {
	padding-right: 20px;
	font-size: 19px;
	padding-top: 10px;
	position: relative;
	top: 11px;
	color: #bfbfbf;
	padding-bottom: 12px;
	padding-left: 29%;
	transition: all 0.2s ease !important;
}

.price-tag:hover {
	text-decoration: none;
	cursor: pointer;
}

.price-tag strike {
	font-size: 16px;
	color: #cacaca;
}

.product_name {
	font-size: 20px;
	text-align: center;
  padding-left: 34px;
  padding-right: 34px;
	color: #545454;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
	text-decoration: none !important;
	color: #545454;
}

.product-text {
	text-decoration: none;
	pointer-events: none;
	text-align: center;
	width: 80%;
	z-index: 2;
	opacity: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #545454;
}

.buy-now {
	font-size: 16px;
	letter-spacing: 0.4px;
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	text-align: center;
	padding-left: 34px;
	padding-right: 34px;
	cursor: pointer;
}

.buy-now span {
	position: relative;
	right: 3px;
	top: 1px;
}

.buy-now a {
	background: #32bada;
	display: block;
	margin: 0 auto;
	padding-top: 7px;
	color: #fff;
	border-radius: 21px;
	padding-bottom: 8px;
	text-decoration: none !important;
	transition: all 0.2s ease !important;
	letter-spacing: 0.7px;
	font-size: 16px;
	font-weight: 600;
}

.buy-now a:hover {
	opacity: 0.7;
	text-decoration: none !important;
}

.no-results {
	opacity: 1;
  text-align: center;
  display: list-item;
  font-size: 26px;
  padding-top: 38px;
}

.product-image {
	padding: 57px 46px 82px 46px;
	opacity: 1;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reviews {
	color: #ffd24d;
  position: relative;
  bottom: 22px;
  left: 23px;
  font-size: 17px;
}

.cell {
	box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15) !important;
}

.cell img {
	-webkit-transition: all 0.2s ease-in-out !important;
	-moz-transition: all 0.2s ease-in-out !important;
	-o-transition: all 0.2s ease-in-out !important;
	-ms-transition: all 0.2s ease-in-out !important;
	transition: all 0.2s ease-in-out !important;
}

.cell:hover img {
	opacity: 0.15 !important;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	cursor: pointer;
	text-decoration: none !important;
}

.cell:hover .product-text {
	text-decoration: none !important;
	color: #545454;
	opacity: 1;
	animation-duration: .3s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.21,.15,.22,1.07);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.95, .95);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Responsive styles
================================================== */

@media (min-width: 1200px) {

}

@media only screen and (max-width: 991px) {

  .headline {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .headline h2 {
    font-size: 32px;
  }

  .headline p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {

  .headline h2 {
    font-size: 29px;
  }

  .headline p {
    font-size: 17px;
  }

  .search .ss-icon {
    left: 86%;
  }

  .product-selection a {
    margin-left: 3px;
    margin-right: 3px;
  }

}
